<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bắt buộc để Launcher có thể đọc được tất cả app cài trong máy (Android 11+) -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    
    <!-- Các quyền cơ bản của Launcher -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    
    <!-- Quyền giao tiếp với Shizuku -->
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />

    <application
        android:name=".LiquidOSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LiquidOS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiquidOS">
        
        <!-- Activity chính của Launcher -->
        <!-- singleTask: Ngăn hệ thống tạo ra nhiều instance của Home Screen -->
        <!-- stateNotNeeded: Không cần lưu state truyền thống, tối ưu tốc độ gọi lại app -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Cờ biến app thành Màn hình chính -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
